numpy
yfinance
pandas==1.3.5
plotly_express==0.4.0
plotly==5.7.0
matplotlib==3.5.1
numpy==1.22
streamlit-lottie==0.0.3
streamlit
cryptocompare
streamlit-option-menu
pytrends
quantstats
nltk
pandas-datareader
sklearn
finvizfinance
whale-alert
beautifulsoup4
seaborn
investpy
mplfinance
wordcloud
finta
textblob
tweepy
vaderSentiment
ffn
PyPortfolioOpt
flair
tradingview_ta
